<%= form_for @entry, validate: true, remote: true, html: { multipart: true, data: {dropzone_name: 'entry[resource_ids][]'} }, authenticity_token: true  do |f| %>
  <nav class="top-bar new_entry_nav" data-topbar role="navigation">
    <ul class="title-area">
      <li><%= link_to "Cancel", entries_path %></li>
      <li>New Entry</li>
      <li class="action"><%= f.submit 'Save'%></li>
    </ul>
  </nav>
  <div class="row small-collapse">
    <div class="small-8 columns">
    <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="small-4 columns"
     <div id="current_date"><a href="#" id="change_date"><%= Date.today.strftime('%B %e, %Y') %></a>
      </div>
      <div class="row small-collapse">
        <div id="new_date" class="columns hide">
          <%= f.date_select :title_date, :order => [:day, :month, :year] %>
        </div>
      </div>
    </div>
  </div>
    <%= f.text_area :content, id: "wysiwyg", :ckeditor => { :toolbar => 'simple' }, placeholder: "What would you like to remember?", rows: 5 %>
       
    <%= f.text_field :all_tags, class: "typeahead", placeholder: "Journals (separate with comma)" %>
    <div class="image_click pointer">
      <i class="fa fa-camera"></i>
    </div>
    
    
    <div class="dropzone dropzone-custom hidden">
      <div class="dz-default dz-message">
        <span>Drop files here to upload</span>
      </div>
    </div>
<% end %>


<script>
  var dropzone = new DropzoneManager();
  dropzone.initialize($("#new_entry .dropzone")[0])
</script>


<script type="text/javascript">
  $(function(){
        

    //$("#new_entry .dropzone").dropzone({url: "/resources", paramName: "resource[avatar]"});

    $('#entry_all_tags').tagsinput({
      typeahead: {
        source: function(query) {
          return $.get('<%= tag_list_entries_url %>'+'?text='+query);
        }
      }
    });
    
  });

</script>
<script>
  window.onbeforeunload = function(){
    var inputs = document.getElementById('wysiwyg').value;
    var unfinished = 'false';
    for (var i=0; i<inputs.length; ++i) {
      if ( inputs[i].value != '' ) {
        unfinished = 'true';
      }
    }
    if ( unfinished == 'true' ) {
      return 'Looks like you\'ve started an entry. Are you sure you\'d like to leave';
    }
  }
</script>
