<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= content_for?(:title) ? yield(:title) : "MemryBook" %></title>

        <%= stylesheet_link_tag    "application" %>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Open+Sans+Condensed:300,700|Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
        <%= javascript_include_tag "vendor/modernizr" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body id="new_title_form">
	
	<!-- <nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name"><h1><%= link_to "MemryBook", root_path %></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<% if user_signed_in? %>
					<li class="active"> <%= link_to 'Entries', entries_path %></li>
					<li class="active"><%= link_to 'Profile', current_user %>
					<li class="active"><%= link_to 'Journals', tags_path %></li>
					<li class="active"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li class="active"><a href="/about">About</a></li>
					<li class="active"><%= link_to "Log In", new_user_session_path %></li>
					<li class="active"><%= link_to "Register", new_user_registration_path %></li>
				<% end %>
			</ul>
		</section>
	</nav> -->
	<div class="sticky-bottom">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="icons title-area">
				<% if user_signed_in? %>
					<li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, new_entry_path  %></li>
					<li><%= link_to '<i class="fa fa-book"></i>'.html_safe, entries_path(:anchor => "titles-wrapper") %></li>
					<li><%= link_to '<i class="fa fa-tag"></i>'.html_safe, tags_path %></li>
				<% end %>
				</ul>
			</section>
		</nav>
	</div>

	<%= render "form2" %>
   
    </body>
</html>


 
