<h2>Edit Profile</h2>

<%= form_for(@user, validate: true, html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

	<div id="user_profile">
		<div class="field">
			<%= f.label :first_name, "First Name" %>
			<%= f.text_field :first_name, autofocus: true %>
		</div>
		<div class="field">
			<%= f.label :last_name, "Last Name" %>
			<%= f.text_field :last_name %>
		</div>	
		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email%>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="field">
			<%= f.label :avatar, "Change Photo" %>
		 	<%= f.file_field :avatar, id: "image_upload" %>
		 </div>
		<div class="actions">
			<%= f.submit "Update", class: "button" %>
		</div>
	</div>
<% end %>