<div id="<%= dom_id(entry) %>" class="row">
	<div class="medium-9 columns">
		<div class="white box-shadow title">
			<div class="header">
				<div class="date">
						<div class="calendar"><month><%= entry.title_date.to_date.strftime('%b') if entry.title_date.present? %></month><day><%= entry.title_date.to_date.strftime('%e') if entry.title_date.present? %></day><year><%= entry.title_date.to_date.strftime('%Y') if entry.title_date.present? %></year>
						</div>		
				</div>
				<h3>
					<%= truncate(entry.title, length: 63) %>
				</h3>
			</div>
			<div class="content clearfix">
						<div class="title_entry">
							<% if entry.content.length > 180 %>
								<div id="entry_truncate_<%= entry.id %>">
								    <%= truncate_html(entry.content.html_safe, length: 180) %>
								    <%= link_to '...Read more', '', class: "read-more-#{entry.id}" %>
								</div>
								<div id="entry_long_<%= entry.id %>" style="display:none;">
								    <%= simple_format(entry.title) %>
								    <%= link_to '...Read less', '', class: "read-less-#{entry.id}", style: "float:right;" %>
								</div>
							<% else %>
								<%= entry.content.html_safe %>
							<% end %>
							<script>
							  	$('.read-more-<%= entry.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= entry.id %>').toggle();
							    $('#entry_long_<%= entry.id %>').toggle();
							})
							</script>
							<script>
							  	$('.read-less-<%= entry.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= entry.id %>').toggle();
							    $('#entry_long_<%= entry.id %>').toggle();
							  })
							</script>
						</div>
				<div id="entry_<%= entry.id %>_thumbnails" class="entry_image_thumbnails">
					<% entry.resources.each do |i| %>
						<% if i.avatar_content_type.include? "image" %>
							<div><%= image_tag i.avatar.url(:medium) %>
								<%= link_to '<i class="fa fa-external-link-square"></i>'.html_safe, i.avatar.url, class: "light_#{entry.id} mfp-image" %>
							</div>
						<% elsif ((i.avatar_content_type.include? "video") && (i.avatar_content_type.exclude? "image")) %>
							<div><%= image_tag i.avatar.url(:medium) %>
								<%= link_to '<i class="fa fa-external-link-square"></i><i class="fa fa-play-circle"></i>'.html_safe, i.avatar.url(:video), class: "light_#{entry.id} mfp-iframe" %>
							</div>
						<% elsif i.avatar_content_type.include? "audio" %>
							<div class="audio"><%= image_tag('audio.png') %>
								<%= audio_tag i.avatar.url(:audio), controls: true %>
								<span><%= i.avatar_file_name %></span>
							</div>
						<% end %>
					<% end %>
				</div>
					<script>
					$('.light_<%= entry.id %>').magnificPopup({
						gallery: {
							enabled: true
						}

							// other options
						});
					</script>
				<% if entry.resources.count == 1 %>
					<script>
					$('#entry_<%= entry.id %>_thumbnails').slick({
						  initialSlide: -1,
						  slidesToShow: 1,
						  centerPadding: "25%",
						  focusOnSelect: true,
						  arrows: false,
						  centerMode: true,
						});
					</script>
				<% else %>
					<script>
						$('#entry_<%= entry.id %>_thumbnails').slick({
						  slidesToShow: 1,
						  centerPadding: "25%",
						  focusOnSelect: true,
						  arrows: false,
						  centerMode: true,
						});
					</script>
				<% end %>
			</div>	
			<div class="delete-x">
				<%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, edit_entry_path(entry), remote: true %>
				<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, entry_path(entry), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %>
			</div>
				<% entry.resources.limit(1).each do |i| %>
				<% if i.avatar_content_type.include? "application" %>
					<i class="fa fa-file-text pointer" id="application_icon_<%= entry.id %>" style="width:100%;text-align: right;font-size:1.5rem;padding:0;"></i>
				<% end %>
			<% end %>
			<div class="footer show-for-small-only">
				<div class="row">
					<div class="small-6 columns">
						<% if entry.tags.present? %>
							<h5>
								<ul>
									<ul>
										<% entry.tags.each do |tag| %>
											<li> 
												<%= link_to tag.name, tag_path(tag.id) %>
											</li>
										<% end %>
									</ul>
								</ul>
							</h5>
						<% end %>
					</div>
					<div class="small-6 columns">
						<div id="shared_users">
							<%= image_tag current_user.avatar.url(:avatar) %>
							<p style="float:right;"><%= link_to "Share", "#", :title_id => entry.id %></p>
						</div>
					</div>
				</div>
			</div>
			<div id="entry_<%= entry.id %>_application" class="entry_application_thumbnails clearfix hide">
				<% entry.resources.each do |i| %>
					<% if i.avatar_content_type.include? "application" %>
						<div class="application">
							<%= link_to '<i class="fa fa-file-text"></i>'.html_safe, i.avatar.url, class: "light_#{entry.id}_application mfp-iframe" %>
							<span><%= truncate(i.avatar_file_name, length: 27) %></span>
						</div>
					<% end %>
				<% end %>
			</div>
			<script>
			$('i#application_icon_<%= entry.id %>').on ('click', function(e) {
				e.preventDefault()
				$('#entry_<%= entry.id %>_application').toggle();
			})
			</script>
		</div>
	</div>
	<div class="medium-3 columns hide-for-small-only">
		<div class="footer">
			<% if entry.tags.present? %>
				<h5>
					<ul>
						<ul>
							<% entry.tags.each do |tag| %>
								<li> 
									<%= link_to tag.name, entries_path(tag: tag.name), remote: true, :data => {:tagname=>tag.name} %>
								</li>
							<% end %>
						</ul>
					</ul>
				</h5>
			<% end %>
			<div id="shared_users">
				<%= image_tag current_user.avatar.url(:avatar) %>
				<%= link_to "Share", "#", :title_id => entry.id %>
			</div>
		</div>
	</div>
</div>