<div id="share-modal-<%= entry.id %>" class="popup_title reveal-modal large modal-share-entry" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="header">Share this Entry</div>
	<p>Who would you like to share this entry with?</p>

	<div class="row">
		<div class="small-1 columns">
			<%= label_tag :avatar, "", class: 'inline center' %>
		</div>
		<div class="small-4 columns">
			<%= label_tag :email, "Email", class: 'inline' %>
		</div>
		<div class="small-3 columns">
			<%= label_tag :first_name, "First Name", class: 'inline' %>
		</div>
		<div class="small-3 columns">
			<%= label_tag :last_name, "Last Name", class: 'inline' %>
		</div>
		<div class="small-1 columns">

		</div>
	</div>
	<div id="list-of-users">
		<% entry.shared_users.each do |user| %>
			<div class="row">
				<div class="small-1 columns avatar">
					<%= image_tag user.avatar.url, width: '40px' %>
				</div>
				<div class="small-4 columns email-col">
					<%= user.email %>
				</div>
				<div class="small-3 columns">
					<%= user.first_name %>
				</div>
				<div class="small-3 columns">
					<%= user.last_name %>
				</div>
				<div class="small-1 columns">
					<%= link_to content_tag(:i, nil, class: 'fa fa-remove'), remove_user_entry_path(entry, user_id: user.id), class: "rem-user-from-list" %>
				</div>
			</div>
		<% end %>
	</div>

	<%= form_for entry, url: share_entry_path(entry), method: :put, remote: true, html: {entry_id: entry.id}, authenticity_token: true  do |f| %>	
		<div class="row">
			<div class="small-1 columns avatar">
			</div>
			<div class="small-4 columns">
				<%= text_field_tag :email, nil, class: 'inline', required: true %>
			</div>
			<div class="small-3 columns">
				<%= text_field_tag :first_name, nil, class: 'inline', required: true %>
			</div>
			<div class="small-3 columns">
				<%= text_field_tag :last_name, nil, class: 'inline', required: true %>
			</div>
			<div class="small-1 columns">
				<%= button_tag 'Add', class: "button small", id: "add-user-to-list" %>
			</div>
		</div>
		<%#= f.submit 'Share', class: "button expand" %>
	<% end %>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

	<% groups = current_user.groups %>

	<% if groups.any? %>
		<hr />
		<p>Do you like to share your entry with group of users?</p>
		<% sg = entry.shared_groups %>
		<% groups.each do |grp| %>
			<%= check_box_tag grp.name, grp.id, sg.include?(grp), class: 'toggle-grp-sharing' %><%= label_tag grp.name, grp.name %>
		<% end %>
	<% end %>
	<%= button_tag 'Share', class: "button expand", onclick: "$('#share-modal-#{entry.id}').foundation('reveal', 'close');" %>
</div>