
  <%= form_for @entry, url: update_tags_entry_path(@entry), method: :put, validate: true, remote: true, authenticity_token: true, html: {id: "form-edit-tags"}  do |f| %>
<div style="margin-bottom:2rem;">
	<%= f.text_field :all_tags, value: @tags.map(&:name).join(", "), class: "typeahead", placeholder: "Add Tags", class: "no_background edit-tags" %>
			<%= f.submit 'Save', class: "pointer button expand" %>
       <%= link_to "Cancel", '#', class: "cancel left grey", style: "padding-right:.5rem;" %>
</div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('input.edit-tags').tagsinput({
      typeahead: {
        source: function(query) {
          return $.get('<%= tag_list_entries_url %>'+'?text='+query);
        }
      }
    });
  });
$('#entry_<%= @entry.id %> .tags .cancel').on('click', function(e) {
         e.preventDefault();
$('#entry_<%= @entry.id %> form#form-edit-tags').replaceWith('<%= j render("entry_tags") %>');
    $('#entry_<%= @entry.id %> .tags .edit i').show();


  });
</script>
