<div id="entries">
	<div class="row wrapper">
		<div class="medium-3 columns">
			<div class="user_info hide-for-small-only">
				<div class="avatar">
					<%= image_tag @user.avatar.url(:avatar) %>
					<%#= image_tag current_user.gravatar_url %>
				</div>
				<p><%= @user.first_name  %></p>
			</div>
			<div id="user_journals">
				<h4><%= image_tag('feather.png') %><%= "Journals For Entry" if @title.tags.any? %></h4>
					<div id="journal_titles">
				 		<% if @title.tags.present? %>
				 			<% @title.tags.each do |t| %>
				 			<li><%= link_to t.name, tag_path(t.name) %></li>
				 			<% end %>
				 			<% end %>
				 		<a href="#" id="edit_journals" style="color:#FD9781;">Edit Journals</a>
					</div>
					<div id="edit_form">
				 		<%= render 'tag_form' %>
				 	</div>
			</div>

		</div>
		<div class="medium-9 columns">
			<div class="row">	
				<div class="medium-9 columns">
					<h2><%= best_in_place @title, :title %></h2>
				</div>
				<div class="medium-3 columns">
					<p style="float:right"><%= @title.title_date.to_date.strftime('%a, %B %e, %Y') %></p>	
				</div>
			</div>
			<div class="form">		
				<%= render 'form' %>
			</div>
		<div id="entry_added"></div>
		<% @title.entries.each do |e| %>
			<div class="entry">
				<div id="<%= dom_id(e) %>">
					<div class="content">
						<% if e.entry.length > 250 %>
							<div id="entry_truncate_<%= e.id %>">
							    <%= truncate_html(e.entry.html_safe, length: 250) %>
							    <%= link_to '...Read more', '', class: "read-more-#{e.id}" %>
							</div>
							<div id="entry_long_<%= e.id %>" style="display:none;">
							    <%= e.entry.html_safe %>
							    <%= link_to '...Read less', '', class: "read-less-#{e.id}", style: "float:right;" %>
							</div>
							<script>
							  	$('.read-more-<%= e.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= e.id %>').toggle();
							    $('#entry_long_<%= e.id %>').toggle();
							})
							</script>
							<script>
							  	$('.read-less-<%= e.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= e.id %>').toggle();
							    $('#entry_long_<%= e.id %>').toggle();
							  })
							</script>
						<% else %>
							<%= e.entry.html_safe %>
						<% end %>
							<div class="entry_image">
							<% e.images.each do |i| %>
							<a href="<%= i.avatar.url(:large) %>" data-lightbox="yes"><%= image_tag i.avatar.url(:medium) %></a>
						<% end %>		
					</div>
						<div class="footer">
							<p style="float:left;"><%= link_to "Edit", edit_title_entry_path(@title, e), remote: true %></p>
							<p style="float:right;"><%= link_to 'Delete', title_entry_path(@title, e), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %></p><br />
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<p style="float:right;"><%= link_to 'Delete Event', title_path(@title), method: :delete, data: {confirm: 'Are you sure?' } %></p><br />
		</div>
	</div>
</div>
