<div id="entries">
	<div class="row wrapper">
		<div class="medium-3 columns">
			<div class="user_info hide-for-small-only">
				<div class="avatar clearfix">
					<div class="row medium-collapse">
						<div class="medium-5 columns">
							<%= image_tag current_user.avatar.url(:avatar) %>
							<%#= image_tag current_user.gravatar_url %>
						</div>
						<div class="medium-7 columns ">
							<p><%= current_user.full_name  %></br>
							<%= link_to "Edit Profile", edit_user_path(@user, form: "profile") %></p>
						</div>
					</div>
				</div>
			</div>
			<div id="user_journals">
				<div id="journal_titles">
			 		<% if @title.tags.present? %>
			 			<% @title.tags.each do |t| %>
			 			<li><%= link_to t.name, tag_path(t.name) %></li>
			 			<% end %>
			 			<% end %>
			 			<%= link_to "Edit Journals", '#', id: "edit_journals", style: "color:#FD9781;" if @title.tags.any? %> 
			 		<!-- <a href="#" id="edit_journals" style="color:#FD9781;">Edit Journals</a> -->
				</div>
				<div id="edit_form">
			 		<%= render 'tag_form' %>
			 	</div>
			</div>

		</div>
		<div class="medium-9 columns">
			<div class="header">
				<h1><%= best_in_place @title, :title %></h1>
			</div>
			<div class="form">		
				<%= render 'form' %>
			</div>
		<div id="entry_added"></div>
		<% @title.entries.each do |e| %>
			<div class="entry">
				<div id="<%= dom_id(e) %>">
					<div class="content">
						<div class="date">
							<div class="calendar"><month><%= e.entry_date.to_date.strftime('%b') if e.entry_date.present? %></month><day><%= e.entry_date.to_date.strftime('%e') if e.entry_date.present? %></day><year><%= e.entry_date.to_date.strftime('%Y') if e.entry_date.present? %></year></div>
						</div>
						<% if e.entry.length > 250 %>
							<div id="entry_truncate_<%= e.id %>">
							    <%= truncate_html(e.entry.html_safe, length: 250) %>
							    <%= link_to '...Read more', '', class: "read-more-#{e.id}" %>
							</div>
							<div id="entry_long_<%= e.id %>" style="display:none;">
							    <%= simple_format(e.entry) %>
							    <%= link_to '...Read less', '', class: "read-less-#{e.id}", style: "float:right;" %>
							</div>
							<script>
							  	$('.read-more-<%= e.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= e.id %>').toggle();
							    $('#entry_long_<%= e.id %>').toggle();
							})
							</script>
							<script>
							  	$('.read-less-<%= e.id %>').on('click', function(e) {
							    e.preventDefault()
							    $('#entry_truncate_<%= e.id %>').toggle();
							    $('#entry_long_<%= e.id %>').toggle();
							  })
							</script>
						<% else %>
							<%= simple_format(e.entry) %>
						<% end %>
							<div class="entry_image">
							<% e.images.each do |i| %>
							<a href="<%= i.avatar.url(:large) %>" data-lightbox="yes"><%= image_tag i.avatar.url(:medium) %></a>
						<% end %>		
					</div>
						<div class="footer">
							<p style="float:left;"><%= link_to "Edit", edit_title_entry_path(@title, e), remote: true %></p>
							<p style="float:right;"><%= link_to 'Delete', title_entry_path(@title, e), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %></p><br />
						</div>
					</div>
				</div>
			</div>
		<% end %>
		
		</div>
		<p style="float:right;"><%= link_to 'Delete Event', title_path(@title), method: :delete, data: {confirm: 'Are you sure?' } %></p><br />
	</div>
</div>