<h2><%= best_in_place @title, :title, :ok_button => 'Save', :ok_button_class => "button tiny", :cancel_button => 'Cancel' %></h2>

<h4>Event Date</h4>
<p>
	<%= best_in_place @title, :title_date, :ok_button => 'Save', :cancel_button => 'Cancel' %>
<%= link_to 'Delete Event', title_path(@title), method: :delete, data: {confirm: 'Are you sure?' } %>
</p>

<h4><%= link_to "New Entry", new_title_entry_path(@title) %></h4>

<h3>Entries</h3>

<% @title.entries.each do |e| %>
	<div class="entry" id="<%= dom_id(e) %>">
		<p><%= e.entry %></p>	
		<p><%= link_to "Edit", edit_title_entry_path(@title, e) %> | <%= link_to 'Delete', title_entry_path(@title, e), method: :delete, data: {confirm: 'Are you sure?' } %></p>
</div>
	<% end %>

