<%= form_for(@user) do |f| %>    
  <div id="form_first">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, :class=>"validate[required]" %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, :class=> "validate[required]" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class=> "validate[required, custom[email]]" %>
      </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :class=>"validate[required]" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class=>"validate[required,equals[user_password]]" %>
    </div>
  </div>
  <div id="form_second">  
    <%= f.label :avatar, "Add Profile Photo" %>
    <%= f.file_field :avatar %> 
  </div>
  <div id="form_third">
  </div>  
  
    <%= f.submit "Register", class: "button", :id =>"form_submit" %>
  
<% end %>
