<div class="row">
	<div class="medium-4 columns">
		
		<%= render 'user_sidebar' %>

	</div>   
	<div class="medium-8 columns white box-shadow">  
		<%= form_for(@user, validate: true) do |f| %>
		
		<div id="user_profile">
			<div class="field">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :first_name %>
			</div>
			<div class="field">
					<%= f.label :last_name, "Last Name" %>
					<%= f.text_field :last_name %>
			</div>
			<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
			</div>
			<div class="field">
				<%= f.label :avatar, "Change Photo" %>
			 	<%= f.file_field :avatar, id: "image_upload" %>
			 </div>
			<div class="actions">
					<%= f.submit "Update Profile", class: "button" %>
			</div>
			<% end %>
		</div>
	</div>
</div>