<div class="row">
	<div class="medium-4 columns">
		<ul class="avatar">
			<%= form_for(@user) do |f| %>
					<li id="image_click"><figure><%= image_tag @user.avatar.url(:avatar) %><figcaption><p>Edit Photo</p></figcaption>
					</figure></li>
					<p> Current photo </p>
					 <%= f.file_field :avatar, id: "image_upload" %>
		</ul>  
			<%= render 'user_nav' %>
	</div>   
	<div class="medium-8 columns white box-shadow">  
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

				<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		<div class="field">
				<%= f.label :password, "New Password" %><br>
				<%= f.password_field :password %>
		</div>
		<div class="field">
				<%= f.label :password_confirmation %><br>
				<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
				<%= f.submit "Update Password", class: "button" %>
		</div>
		<% end %>
	</div>
</div>


