<div class="row">
	<div class="medium-4 columns">
			<%= render 'user_sidebar' %>
			<%= render 'user_nav' %>
	</div>   
	<div class="medium-8 columns white box-shadow">  
		<%= form_for(@user, validate: true) do |f| %>

		<div class="field">
				<%= f.label :password, "New Password" %>
				<%= f.password_field :password, :validate => { :presence => true, :confirmation => true } %>
		</div>
		<div class="field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, :validate => { :presence => true, :confirmation => true } %>
		</div>
		<div class="actions">
				<%= f.submit "Update Password", class: "button" %>
		</div>
		<% end %>
	</div>
</div>