<div class="row">
	<div class="medium-4 columns">
		
		<%= render 'user_sidebar' %>
		<%= render 'user_nav' %>
	</div>   
	<div class="medium-8 columns white box-shadow">  
		<%= form_for(@user) do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div id="user_profile">
			<div class="field">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :first_name %>
			</div>
			<div class="field">
					<%= f.label :last_name, "Last Name" %>
					<%= f.text_field :last_name %>
			</div>
			<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
			</div>
			<div class="field">
					<%= f.label :avatar, "Change Photo" %>
			 <%= f.file_field :avatar, id: "image_upload" %>
			 </div>
			<div class="actions">
					<%= f.submit "Update Profile", class: "button" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
$('li#image_click').click(function(){ $('#image_upload').trigger('click'); });
</script>