	<h3>Hey <%= @user.first_name %>, Here's your profile page. You can change or update anything at any time.</h3>
	<div class="row">
		<div class="medium-3 columns">
			<div class="avatar">
			 <%= image_tag @user.avatar.url(:avatar) %>
			 </div>	 
		</div>	 
		<div class="medium-9 columns">	
			<p>
			  <strong>First name:</strong>
			  <%= @user.first_name %>
			</p>

			<p>
			  <strong>Last name:</strong>
			  <%= @user.last_name %>
			</p>

			<p>
			  <strong>Email:</strong>
			  <%= @user.email %>
			</p>
			<%= link_to 'Edit Profile', edit_user_path(@user, form: "profile"), class: "button" %>
		</div>
			


		    


			
