<div id="popup_register">
	<%= render 'devise/registrations/popup_form' %>
	<div class="float:left;"><%= link_to "Login", '#', id: "login_link" %>
	</div>
</div>
<div id="login_toggle" class="hide">
	<%= render 'devise/sessions/popup_form' %>
	<%= link_to "Forgot your password?", '#', id: "login_reset_toggle" %>
</div>
<div id="reset_toggle" class="hide">
	<%= render 'devise/passwords/popup_form' %>
	<%= link_to "Login", '#', id: "login_reset_toggle_2" %>
</div>