<body id="home">
	<div id="user_nav">
				<p><% if user_signed_in? %>
				<%= link_to 'Entries', entries_path %> |    
				<%= link_to 'Edit Profile', edit_user_registration_path %> | 
				<%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
			<% else %>
					<%= link_to "Sign Up", 'javascript:void(0);', data: {:'reveal-id' => 'signupModal'} %> | 
					<%= link_to "Login",  'javascript:void(0);', data: {:'reveal-id' => 'loginModal'} %>
			<% end %>
	</div>
	<div class="row">
	 	<div class="medium-6 medium-centered columns wrapper"> 
			<div class="header">
				<h1>MemryBook</h1>
			</div>
			<div class="content">
				<p>Live. Love. <i>Remember</i>.</p> 
				<p><%= link_to "Get Started", 'javascript:void(0);', data: {:'reveal-id' => 'signupModal'}, class: "button round" %></p>
				<p style="font-size:.7rem;color:#aaa;">*MemryBook is in Alpha (which means it has not launched an offical version). Accounts are free, and we ask for patience as we work out the last issues. You can help us by providing feedback on your experience. Thanks and enjoy!</p>
			</div>
		 	<div class="footer">
				<p>All rights reserved.</p> 
				<ul class="social">
					<li id="facebook"><a href="http://facebook.com/" target="_blank"></a></li>
					<li id="twitter"><a href="http://twitter.com/" target="_blank"></a></li>
					<li id="instagram"><a href="http://instagram.com/" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>


<div id="signupModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<%= render 'popup_register' %>
	<a class="close-reveal-modal">&#215;</a>
	<div class='modal-footer'>
		<button type="button" class="btn" id="form_next_second">Next</button>
		<a href="#" id="form_back_first" style="float:left;color:#444;padding:.4rem;float:left">Back</a>
		<button type="button" class="btn" id="form_back_second">Back</button>
		<button type="button expand" class="btn" id="form_next_first">Next</button>
	</div>
</div>

<div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<%= render 'popup_login' %>
	<a class="close-reveal-modal">&#215;</a>
	
</div> 

<% unless mobile_device? %>
<div id="big-video-wrap">
<script type="text/javascript">
$(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show("<%= asset_url('coloring.mp4') %>", "<%= asset_url('coloring.mp4') %>", "<%= asset_url('coloring.mp4') %>",{ambient:true});
    BV.getPlayer().on('durationchange',function(){
    $('#big-video-wrap').fadeIn();
});
});
</script>
<style>
#home {
	background: none;
}
</style>
</div>
<% end %>

<script type="text/javascript">

	$(document).ready(function(){
		<% if @user.errors.present? %>
			$('a.round').trigger('click');
		<% end %>
		$("#new_user").validationEngine();
		$('#form_submit').hide();
		$("#form_second").hide();
		$("#form_back_first").hide();
		$("#form_back_second").hide();
		$('#form_next_second').hide();

		$('#form_next_first').on('click', function(){
			if($("#new_user").validationEngine('validate')){
				$("#form_first").hide();
				$("#form_second").show();
				$("#form_back_first").show();
				$('#form_next_first').hide();
			$('#form_submit').show();
			$('#cancel-button').hide();
			$('#login_link').hide();			
			}
		});
		
		$('#form_next_second').on('click', function(){
			$('#form_third').show();
			$('#form_next_second').hide();
			$("#form_back_first").hide();
			$('#form_submit').show();
			$('#form_back_second').show();
			$('#cancel-button').hide();
		});

		$("#form_back_first").on('click', function(){
			$("#form_second").hide();
			$("#form_first").show();
			$("#form_back_first").hide();
			$('#form_next_second').hide();
			$('#form_next_first').show();
			$('#form_submit').hide();
			$('#cancel-button').show();
			$('#login_link').show();	
			
		});

		$('#form_back_second').on('click', function(){
			$('#form_third').hide();
			$('#form_back_second').hide();
			$("#form_back_first").show();
			$('#form_next_second').show();
			$('#form_submit').hide();
			$('#cancel-button').show();
		});

	});

</script>
