<%= form_for @tag, remote: true do |f| %>
	<ul>
		<li>
			<div class="row collapse">
				<!-- <div class="medium-4 columns">
					<div class="hide"><%= f.collection_select :parent_id, current_user.tags.all, :id, :name, :include_blank => "None" %>
					</div>
				</div> -->
				<div class="medium-8 columns">
					<p><%= f.text_field :name, id: "name_field", placeholder: "Add New Label", class: "no_background" %></p>
					<%= f.hidden_field :parent_id %>
				</div>
				
				<div class="action medium-4 columns">
					<%= f.submit 'Save Label', class: "button expand", remote: true %>
					<%= link_to "Cancel", '#', id: "cancel_#{@tag.id}" %>
				</div>
			</div>
		</li>
	</ul>
	<script>
		$('#cancel_<%= @tag.id %>').on('click', function(e) {
	                    e.preventDefault()
	    $('form#new_tag').remove();
	    $('a.add_new_label').show();
	    $('#new_label').removeClass('hide');
	  	});
	</script>
<% end %>
