<% unless tag.id.nil? %>
<ul class="clearfix">
	<li id="tag_<%= tag.id %>">
		<h4><%= tag.name %></h4>
		<%= link_to "Add Subjournal", new_tag_path(:parent_id => tag), remote: true %>
		<p><%= link_to "Edit Journal", edit_tag_path(tag), remote: true %> <%= link_to 'Delete', tag_path(tag), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %></p>
	</li>
</ul>




<% end %>