<%= form_for @title do |f| %>
	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<p><%= f.label :title_date %></p>
	<p><%= f.date_select :title_date %></p>
	
	<%= f.fields_for :entries do |p| %>
		<%= p.label :entry %><br>
		<%= p.text_area :entry %>

		<% end %>


	<div class="action">
		<%= f.submit 'Save Entry' %>
		</div>
	<% end %>