<%= form_for @title, remote: true, html: { multipart: true }, authenticity_token: true  do |f| %>
	<%= f.text_field :title, placeholder: "Entry Title" %>
		<%= f.fields_for :entries, @entries do |e| %>
			<%= e.text_area :entry, placeholder: "Your entry goes here..." %>
  	    <%= e.file_field :image, multiple: true, name: 'images[]', :id =>"entry-image" %>
        <table role="presentation" class="table table-striped">
          <tbody id="files" class="files">
          </tbody>
        </table>
		<% end %>
  
	<div class="clear"></div>
	<div class="clear"></div>
	<%= f.text_field :all_tags, class: "typeahead" %>	
	<%= f.date_select :title_date, :order => [:day, :month, :year] %>
	<div class="action">
		<%= f.submit 'Save Entry', class: "button small right" %>
	</div>
<% end %>
<script type="text/javascript">
  showImages();
  $(function(){
    //$("input#title_all_tags").tagsinput('items')
  	$('#title_all_tags').tagsinput({
			typeahead: {                  
			    source: function(query) {
			      return $.get('<%= tag_list_titles_url %>'+'?text='+query);
			    }
		  
			  }

    });

  });  
</script>