<% @titles.each do |t| %>
	<div id="<%= dom_id(t) %>" class="row">
		<div class="medium-9 columns">
			<div class="white box-shadow title">
				<div class="header">
					<div class="date">
						<% t.entries.limit(1).each do |e| %>
							<div class="calendar"><month><%= e.entry_date.to_date.strftime('%b') if e.entry_date.present? %></month><day><%= e.entry_date.to_date.strftime('%e') if e.entry_date.present? %></day><year><%= e.entry_date.to_date.strftime('%Y') if e.entry_date.present? %></year>
							</div>
						<% end %>			
					</div>
					<h3>
						<%= link_to truncate(t.title, length: 63), title_entries_path(t) %>
					</h3>
				</div>
				<div class="content clearfix">
					<% t.entries.limit(1).each do |e| %>
							<div class="title_entry">
								<% if e.entry.length > 180 %>
									<div id="entry_truncate_<%= e.id %>">
									    <%= truncate_html(e.entry.html_safe, length: 180) %>
									    <%= link_to '...Read more', '', class: "read-more-#{e.id}" %>
									</div>
									<div id="entry_long_<%= e.id %>" style="display:none;">
									    <%= simple_format(e.entry) %>
									    <%= link_to '...Read less', '', class: "read-less-#{e.id}", style: "float:right;" %>
									</div>
								<% else %>
									<%= simple_format(e.entry) %>
								<% end %>
								<script>
								  	$('.read-more-<%= e.id %>').on('click', function(e) {
								    e.preventDefault()
								    $('#entry_truncate_<%= e.id %>').toggle();
								    $('#entry_long_<%= e.id %>').toggle();
								})
								</script>
								<script>
								  	$('.read-less-<%= e.id %>').on('click', function(e) {
								    e.preventDefault()
								    $('#entry_truncate_<%= e.id %>').toggle();
								    $('#entry_long_<%= e.id %>').toggle();
								  })
								</script>
							</div>
						<% end %>
					<div id="entry_image_thumbnails">
						<% t.entries.limit(4).each do |e| %>
							<% next if e.images.blank? %>
								<% e.images.each do |i| %>
								<%= image_tag i.avatar.url(:medium) %>
							<% end %>
						<% end %>
					</div>
				</div>	
				<div class="delete-x">
					<%= link_to 'x', title_path(t), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %>
				</div>
				<div class="footer show-for-small-only">
					<div class="row">
						<div class="small-6 columns">
							<h5>
								<ul>
									<%= raw tag_links(t.all_tags) %>
								</ul>
							</h5>
						</div>
						<div class="small-6 columns">
							<div id="shared_users">
								<%= image_tag current_user.avatar.url(:avatar) %>
								<p style="float:right;"><%= link_to "Share", "#", :title_id => t.id %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% if t.all_tags.present? %>
		<div class="medium-3 columns hide-for-small-only">
			<div class="footer">
				<h5>
					<ul>
						<%= raw tag_links(t.all_tags) %>
					</ul>
				</h5>
				<div id="shared_users">
					<%= image_tag current_user.avatar.url(:avatar) %>
					<%= link_to "Share", "#", :title_id => t.id %>
				</div>
			</div>
		</div>
		<% end %>
	</div>

<% end %>