<% if params[:tag].blank? %>
	<h1>Welcome to Your Journal</h1>
<% else %> 
	<h1><%= params[:tag] %></h1>
<% end %>


<h2>Create a New Event</h2>

	<%= render 'form' %>

<h2><center>Past Entries</center></h2>
</div>
</div>
<div style="background:#e2e2e2;padding: 5px;">

<% @titles.each do |t| %>
	<div class="title top-pad" id="<%= dom_id(t) %>">
		<h3><%= t.title %></h3>
		<p><%= t.title_date %> | <%= link_to 'View Event', title_entries_path(t) %> | <%= link_to 'Delete', title_path(t), method: :delete, data: {confirm: 'Are you sure?' } %> </p>
		<h5>Journals: <%= raw tag_links(t.all_tags) %></h5>
		</div>
	<% end %>

</div>
 <div class="row">
      <div class="columns">