<nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
          <li class="name"><h1><%= link_to "MemryBook", root_path %></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

    <section class="top-bar-section">
        <ul class="right">
            <% if user_signed_in? %>
                <li class="active"> <%= link_to 'Entries', titles_path %></li>
                <li class="has-dropdown active"><%= link_to 'Profile', current_user %>
                  <ul class="dropdown">
                    <li class="active"><%= link_to 'Journals', tags_path %></li>
                  </ul>
                </li>
                <li class="active"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li class="active"><a href="/about">About</a></li>
                <li class="active"><%= link_to "Log In", new_user_session_path %></li>
                <li class="active"><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
        </ul>
    </section>
</nav>